{% extends "gacha/html_base.html" %}
{% block body_content %}
<nav class="navbar flex-nowrap justify-content-start bg-body-tertiary mb-md-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'gacha:index' %}">Gacha</a>
    <div class="navbar-text ms-auto me-3"> 
      {{ user.account.credits }} {% include "gacha/star_credit.html"%}
    </div>
    <div class="navbar-text me-3">Hi, {{ user.username }}</div> 
    <form class="d-flex " role="search" method="post" action="{% url 'gacha:logout' %}">
      {% csrf_token %}
      <button class="btn btn-outline-primary" type="submit">Log out</button>
    </form>
  </div>
</nav> 

<div id="main-container" class="container-md h-100 overflow-auto">
{% block content %}{% endblock %}
</div>
{% endblock %}