{% extends "gacha/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="text-center">
  <p>You have <a href="{% url 'gacha:itemlist'%}">{{account.items.count}} item(s)</a></p>

  {% if account.credits > 1 %}
  <a class="btn btn-outline-primary" href="{%url 'gacha:roll'%}">Roll</a><br>
  Cost: 1 {% include "gacha/star_credit.html"%}

  {% else %}
  Roll<br>
  Sorry, out of credits!<br>
  <a class="btn btn-outline-primary" href="{%url 'gacha:addcredits'%}">
    Get more credits
  </a> 
  Only <s>$100</s> <strong>FREE!!</strong> Hurry, before we set up paypal!
  {% endif %}
</div>
{% endblock %}