{% extends "./base.html" %}
{% block title %} Home {% endblock %}
{% block content %}

<nav>
  Hi, {{ account.user.username }} 
  Credits: {{account.credits}} 
  <form method="post" action="{% url 'gacha:logout' %}">
    {% csrf_token %}
    <button type="submit">Log out</button>
  </form>
</nav> 

<p>You have <a href="{% url 'gacha:itemlist'%}">{{account.items.count}} item(s)</a><p>

{% if account.credits > 1 %}
<a href="{%url 'gacha:roll'%}">Roll</a><br>
Cost: 1 credit

{% else %}
Roll<br>
Sorry, out of credits!<br>
Get more, coming soon™
{% endif %}

{% endblock %}