{% extends "gacha/base.html" %}
{% block title %} Your Items {% endblock %}
{% block content %}

<div class="row">
{% for item in items %}

  <div class="col-sm-3 mb-1">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          {{item.name}} <small>{{item.get_rarity_display}}</small>
        </h5>
        {% comment %} <img> {% endcomment %}
      </div>
    </div>
  </div>
{% empty %}
<p>Your list is empty, roll and get started!</p>
{% endfor %}
</div>

{% endblock %}