{% extends "gacha/base.html" %}
{% block title %} Roll {% endblock %}
{% block content %}
<div class="mx-auto item-display text-center">
  <div class="card">
    <img 
      class="item-img"
      src="{{accountitem.item.img_url}}" 
      alt="{{accountitem.item.name}}" 
      width="500" height="500">
  </div>
  You got {{accountitem.item.name}} {{accountitem.item.rarity_display}}!!!
</div>

<div class="mx-auto text-center mt-3">
  <a class="btn btn-outline-primary" href="{% url 'gacha:index' %}">Go back</a>
  <a class="btn btn-outline-primary" href="{% url 'gacha:roll' %}">Roll again</a>
  <a class="btn btn-outline-primary" href="{% url 'gacha:itemlist' %}">See your items</a>
</div>
{% endblock %}