body {
  background-image: url("../images/star_pattern.svg")
}

.item-img {
  /* not all are exactly 1:1 aspect ratio becase I am stupid 
     so crop off a little white space if necessary */
  object-fit: cover;
}

.item-display {
  max-width: 500px;
}

#itemlist .item-card {
  min-width: 15rem;
}

#itemlist .img-container {
  /* if image is too small, pad it */
  min-height: 180px;
}

#itemlist img {
  /* this prevents it from chainging aspect ratio */
  width: fit-content;
  /* prevents it from spilling out of container */
  max-width: 100%;
}